/*************************************************************
*
*************************************************************/
.modalBackground
{
    background-color: Gray;
    -moz-opacity: 0.7;
}

.progressoAtualizacao
{
    position: absolute;
    left: 45%;
    width: 200px;
    height: 80px;
    font-family: verdana;
    font-size: 12px;
    color: black;
    vertical-align: middle;
    border: 2px solid #CCCCCC;
    text-align: center;
    z-index: 10001;
    top: 30%;
    background-color: #EFE6D6;
    font-weight: bold;
}

/* Para preencher uma tela toda com a div para que o usuário nao possa clicar em nenhum outro campo enquanto aguarda */
.fundoDesabilitado
{
    z-index: 10000;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../IMAGENS/semi-transparent.gif);
}

.coluna1Movimento
{
    width: 150px;
}

/**************************************************************
* FORMATAÇÃO DA TABELA UTILIZADA NAS MENSAGENS DO FORM DEFAULT
***************************************************************/
.tabela-msg th
{
    /* Titulo do formulário*/
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #efefef;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: left;
    height: 30px;
}
.tabela-msg td
{
    /* corpo do formulário*/
    background-color: #A8C9EA;
    border: 1px solid #000000;
}
.tabela-msg td th
{
    /* corpo do formulário*/
    background-color: #2C73BA;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.tabela-msg td td
{
    /* campos do formulário*/
    font-family: verdana;
    vertical-align: middle;
    font-size: 10px;
    color: #000000;
    background-color: #DFEFFF;
    text-align: left;
    border: 0px;
    height: 25px;
}
/********************************************************************
* FIM - FORMATAÇÃO DA TABELA UTILIZADA NAS MENSAGENS DO FORM DEFAULT
*********************************************************************/
/*Textbox Watermark*/

.unwatermarked
{
    height: 13px;
    width: 148px;
}

.watermarked
{
    height: 13px;
    width: 150px;
    padding: 2px 0 0 2px;
    border: 1px solid #BEBEBE;
    background-color: #F0F8FF;
    color: gray;
}


/********************************************************************
* FORMATAÇÃO DO COMPENENTE TABCONTROL DO AJAX TOOL KIT
*********************************************************************/
/* Conteudo das Abas */

.abasAjax .ajax__tab_header
{
      font-family: verdana,tahoma,helvetica;
      font-size: 11px;
      color: #FFFFFF;
      font-weight: bold;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #D6CCBD;
      text-align: left;
      height: 24px;
}

/* Espaçamento entre as abas */

.abasAjax .ajax__tab_outer
{
      padding-right: 10px;
      /*height: 24px;*/
      border-bottom-style: none;
      border-bottom-width: 0;
}

.abasAjax .ajax__tab_inner
{
      border-style: solid;
      border-width: 4px 1px 0px 1px;
      border-color: #D6CCBD;
      padding-left: 5px;
      background-color: #FBF8F0;
      color: #777777;
}

.abasAjax .ajax__tab_tab
{
      padding: 4px;
      margin: 0;
      /*height: 12px;*/
}

.abasAjax .ajax__tab_hover .ajax__tab_outer
{

}

.abasAjax .ajax__tab_hover .ajax__tab_inner
{
      background-color: #EFE6D6;
      color: #515151;
      border-top-style: solid;
      border-top-width: 4px;
      border-top-color: #D6CCBD;
}

.abasAjax .ajax__tab_hover .ajax__tab_tab
{

}

.abasAjax .ajax__tab_active .ajax__tab_outer
{

}

.abasAjax .ajax__tab_active .ajax__tab_inner
{
      background-color: #EFE6D6;
      color: #515151;
      border-top-style: solid;
      border-top-width: 4px;
      border-top-color: #D6CCBD;
}

.abasAjax .ajax__tab_active .ajax__tab_tab
{

}

.abasAjax .ajax__tab_body
{
      font-family: verdana,tahoma,helvetica;
      font-size: 10pt;
      border-left: 1px solid #D6CCBD;
      border-right: 1px solid #D6CCBD;
      border-bottom: 1px solid #D6CCBD;
      padding: 8px;
      background-color: #EFE6D6;
}

/*************************************************************
* CLASSES PARA ESTILO DA GRID
*************************************************************/
.selecao-grid
{
    /* Texto da Paginção da Grid*/
    font-family: Verdana;
    font-size: 11px;
    background-color: #D6CCBD;
}

.texto-paginacao-grid
{
    /* Texto da Paginção da Grid*/
    font-family: Verdana;
    font-size: 11px;
    font-weight: bold;
    color: #C00000;
    background-color: #EFE6D6;
    border: 1px solid #000000;
    vertical-align: middle;
    text-align: center;
}

.titulo-grid
{
    /* Titulo das Colunas da Grid*/
    font-family: verdana;
    vertical-align: middle;
    font-size: 11px;
    color: #000;
    background-color: #EFE6D6;
    text-align: center;
    height: 25px;
    border-right: #D6CCBD 1px solid;
    border-top: #D6CCBD 1px solid;
    border-left: #D6CCBD 1px solid;
    border-bottom: #D6CCBD 1px solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 2px;
    padding-top: 3px;
}

.conteudo-grid
{
    /* campos do formulário*/
    font-family: verdana;
    vertical-align: middle;
    font-size: 11px;
    color: #000000;
    background-color: #FBF8F0;
    text-align: left;
    border-spacing: 5;
    border-right: #D6CCBD 1px solid;
    border-top: #D6CCBD 1px solid;
    border-left: #D6CCBD 1px solid;
    border-bottom: #D6CCBD 1px solid;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 2px;
}

.grid-vazio
{
    border: 0px;
    height: 25px;
    /*font-weight: bold;*/
    text-align: center;
    color: Red;
}

/*************************************************************
* FIM - CLASSES PARA ESTILO DA GRID
*************************************************************/
.calendario .ajax__calendar_container
{
    background-color: #3E5E6D;
    border: solid 1px #004000;
    z-index: 1010;
}

.calendario .ajax__calendar_header /*formatação do cabeçalho*/
{
    background-color: #FBF8F0;
    margin-bottom: 3px;
    border: solid 1px #004000;
}

.calendario .ajax__calendar_title /*formatação do texto que encontra-se no cabeçalho*/
{
    color: black;
}

.calendario .ajax__calendar_body /*formatação interna de onde se encontra o calendário(onde estão os dias do respectivo mês)*/
{
    background-color: white;
    border: solid 1px #004000;
}

.calendario .ajax__calendar_dayname /*formatação da descrição dos dias da semana*/
{
    text-align: center;
    margin-bottom: 4px;
    margin-top: 2px;
    color: #3E5E6D;
}

.calendario .ajax__calendar_day /*formatação dos dias do mês*/
{
    text-align: center;
    color: black;
}

.calendario .ajax__calendar_hover .ajax__calendar_day
{
    color: #3E5E6D;
    font-weight: bold;
}

.calendario .ajax__calendar_hover .ajax__calendar_month /*formatação para quando passar mause sobre um determinado mês*/
{
    color: red;
}

.calendario .ajax__calendar_hover .ajax__calendar_year /*formatação para quando passar o mause sobre um determinado ano*/
{
    color: red;
}

.calendario .ajax__calendar_active /*formatação do dia, quando já possui uma data no textbox de controle*/
{
    border: 1px solid #3D5764;
    background-color: #A3BCC9;
    font-weight: bold;
}

.calendario .ajax__calendar_today /*destaque para a data atual(Today)*/
{
    font-weight: bold;
    color: #ffffff;
}

.calendario .ajax__calendar_other .ajax__calendar_day
{
    color: #C0C0C0;
}

.calendario .ajax__calendar_hover .ajax__calendar_today /*formatação para quando passar o mouse sobre a data atual(Today)*/
{
    color: #FFFFFF;
}

.calendario .ajax__calendar_hover .ajax__calendar_title /*formatação para quando passar o mouse sobre o texto do título*/
{
    color: red;
}

.caixaTexto
{
    font-family: Verdana;
    font-size: 11px;
    color: #000000;
    border: 1px solid #7C7C7C;
}

#content101 input, select, textarea
{
    position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	border: 1px solid #333;
	top: -1px;
	left: 2px;
	width: 496px;
    height: 23px;
}
