<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="eProtAutenticacao.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SegWebService" value="http://HWebserver.tj.rj.gov.br/HSegWS/SEGInterfaceBLL.asmx"/>
    <add key="Sigla" value="EPROT"/>
    <!--<add key="Icone" value=""/>-->
    <add key="Descricao" value="EPROT - Módulo de Autenticação"/>
    <add key="url" value="http://localhost:2259/PROTWS.asmx"/>
    <add key="ambiente" value="desktop"/>

    
    <add key="StringConexao" value="data source=DSV03;user id=prot;password=protdsv#44;"/>
  </appSettings>
  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
    <eProtAutenticacao.My.MySettings>
      <setting name="eProtAutenticacao_ServiceCadernoModelo_CadernoModeloService"
        serializeAs="String">
        <value>http://hwebserver.tj.rj.gov.br/hspedo/CadernoModeloService.asmx</value>
      </setting>
      <setting name="eProtAutenticacao_ServiceDJE_DJEService" serializeAs="String">
        <value>http://hwebserver.tj.rj.gov.br/hspedo/DJEService.asmx</value>
      </setting>
    </eProtAutenticacao.My.MySettings>
  </applicationSettings>
</configuration>
